<ion-header>
  <ion-toolbar>
    <ion-title>Grocery lists</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/grocery-list/add-grocery-list']" routerDirection="forward">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner class="ion-align-self-center" *ngIf="loadingGroceryLists"></ion-spinner>
  <ion-list class="ion-padding" *ngIf="!loadingGroceryLists">
    <ion-list-header>My grocery lists</ion-list-header>
    <ion-item *ngIf="groceryLists.length === 0">
      <ion-label>
        Wow such empty
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let groceryList of groceryLists" (click)="navigateToDetail(groceryList.id)">
      <ion-label fxLayout="row" fxLayoutAlign="space-between">
        <p class="ion-no-padding">{{groceryList.name}}</p>
        <p class="ion-no-padding">{{groceryList.createdDatetime | date: 'short'}}</p>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
