<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="recipes">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grocery-list">
      <ion-icon name="bag-handle-outline"></ion-icon>
      <ion-label>Grocery lists</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="food-diary">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Food diary</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
